html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #0070f3;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}

a:hover {
  color: #113053;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}